/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.docker
.DS_Store
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.log
*.sql
*.sqlite
*.sqlite3
*.bak
*.backup
*.zip
*.log
